.recipe-item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.recipe-list .recipe:last-child {
  padding-bottom: 0;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 30px
}